
SELECT		*
FROM		[TABELA DE CLIENTES] TBC
INNER JOIN	[NOTAS FISCAIS] NF
ON			TBC.CPF = NF.CPF

SELECT		TBC.NOME, COUNT(*) [COMPRAS FEITAS]
FROM		[TABELA DE CLIENTES] TBC
INNER JOIN	[NOTAS FISCAIS] NF
ON			TBC.CPF = NF.CPF
GROUP BY	TBC.NOME

SELECT		*
FROM		[TABELA DE CLIENTES]

SELECT		*
FROM		[NOTAS FISCAIS]

SELECT		TBC.NOME, COUNT(*) [COMPRAS FEITAS]
FROM		[NOTAS FISCAIS] NF
RIGHT JOIN	[TABELA DE CLIENTES] TBC
ON			TBC.CPF = NF.CPF
GROUP BY	TBC.NOME

SELECT		TBC.NOME, COUNT(*) [COMPRAS FEITAS]
FROM		[TABELA DE CLIENTES] TBC
LEFT JOIN	[NOTAS FISCAIS] NF
ON			TBC.CPF = NF.CPF
GROUP BY	TBC.NOME

SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [TABELA DE CLIENTES]

SELECT		TBVD.BAIRRO, TBC.BAIRRO
FROM		[TABELA DE VENDEDORES] TBVD
INNER JOIN	[TABELA DE CLIENTES] TBC
ON			TBVD.BAIRRO = TBVD.BAIRRO
GROUP BY	TBVD.BAIRRO, TBC.BAIRRO

SELECT		TBVD.BAIRRO, TBC.BAIRRO
FROM		[TABELA DE VENDEDORES] TBVD
LEFT JOIN	[TABELA DE CLIENTES] TBC
ON			TBVD.BAIRRO = TBC.BAIRRO

SELECT		TBVD.BAIRRO, TBC.BAIRRO
FROM		[TABELA DE VENDEDORES] TBVD
RIGHT JOIN	[TABELA DE CLIENTES] TBC
ON			TBVD.BAIRRO = TBC.BAIRRO

/* FULL JOIN */

SELECT		TBVD.BAIRRO, TBC.BAIRRO
FROM		[TABELA DE VENDEDORES] TBVD
FULL JOIN	[TABELA DE CLIENTES] TBC
ON			TBVD.BAIRRO = TBC.BAIRRO