

SELECT * FROM [TABELA DE VENDEDORES]

SELECT * FROM [NOTAS FISCAIS]

SELECT		*
FROM		[TABELA DE VENDEDORES] tbVD
INNER JOIN	[NOTAS FISCAIS] tbNF
ON			tbVD.MATRICULA = tbNF.MATRICULA

SELECT		tbVD.MATRICULA, tbVD.NOME, COUNT(*) [TOTAL DE VENDAS]
FROM		[TABELA DE VENDEDORES] tbVD
INNER JOIN	[NOTAS FISCAIS] tbNF
ON			tbVD.MATRICULA = tbNF.MATRICULA
GROUP BY	tbVD.MATRICULA, tbVD.NOME

SELECT		tbVD.MATRICULA, tbVD.NOME, YEAR(DATA), COUNT(*)
FROM		[TABELA DE VENDEDORES] tbVD
INNER JOIN	[NOTAS FISCAIS] tbNF
ON			tbVD.MATRICULA = tbNF.MATRICULA
GROUP BY	tbVD.MATRICULA, tbVD.NOME, YEAR(DATA)

SELECT		tbVD.MATRICULA, tbVD.NOME, YEAR(DATA) [DATA DE NOTAS], COUNT(*) NOTAS
FROM		[TABELA DE VENDEDORES] tbVD
INNER JOIN	[NOTAS FISCAIS] tbNF
ON			tbVD.MATRICULA = tbNF.MATRICULA
GROUP BY	tbVD.MATRICULA, tbVD.NOME, YEAR(DATA)
ORDER BY	YEAR(DATA), tbVD.NOME

/* Obtendo faturamento ANUAL */

SELECT		*
FROM		[ITENS NOTAS FISCAIS]

SELECT		*
FROM		[NOTAS FISCAIS]

SELECT		YEAR(DATA), COUNT(*)
FROM		[ITENS NOTAS FISCAIS] itensNF
INNER JOIN	[NOTAS FISCAIS] tbNF
ON			itensNF.NUMERO = tbNF.NUMERO
GROUP BY	YEAR(DATA)

SELECT		YEAR(DATA) ANO, SUM(itensNF.PREÇO * itensNF.QUANTIDADE) [TOTAL POR ANO]
FROM		[ITENS NOTAS FISCAIS] itensNF
INNER JOIN	[NOTAS FISCAIS] tbNF
ON			itensNF.NUMERO = tbNF.NUMERO
GROUP BY	YEAR(DATA)